<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS 122</title>
</head>
<body>
    <h2>CS 122 Course Description</h2>
    <p>Advanced features of the Python programming language with
        emphasis on programming practice.</p>
    <h2>Reviews</h2>
    <ol>
        {%for result in results%}
        <li>{{result.text}}</li>
        {%endfor%}
    </ol>
    <table>
        <tr>
            <td><a href="/home">Home</a></td>
        </tr>
        <tr>
            <td><a href="/about">About</a></td>
        </tr>
        <tr>
            <td><a href="/review">Review</a></td>
        </tr>
    </table>
</body>
</html>